
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.frame-41-fSC {
  width: 100%;
  align-items: center;
  display: flex;
  flex-direction: column;

  .auto-group-ycxt-h7z {
    height: 306.9rem;
    position: relative;
    flex-shrink: 0;
    width: 100%;

    .macbook-pro-14-1-mXA {
      background-position: center;
      width: 151.2rem;
      position: absolute;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.3700000048);
      background-size: 100% 100%;
      left: 0;
      overflow: hidden;
      flex-direction: column;
      background-repeat: no-repeat;
      background-image: url('REPLACE_IMAGE:40a1af679122986aa4135c0c9442733206e03df2');
      height: 131.5rem;
      box-sizing: border-box;
      padding: 3.1rem 12rem 29.7rem 12.1rem;
      top: 0;
      display: flex;

      .frame-1-2CC {
        display: flex;
        align-items: center;
        flex-shrink: 0;
        margin-bottom: 12.9rem;
        width: 100%;
        height: 6.1rem;
        overflow: hidden;
        position: relative;

        .group-1-Xue {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 59.2426rem;
          width: 14.1574rem;

          .elite-UK6 {
            font-size: 2.7111rem;
            font-weight: 400;
            color: #ffffff;
            white-space: nowrap;
            position: absolute;
            left: 0;
            top: 1.3556rem;
            font-family: Jost, 'Source Sans Pro';
            width: 4.9rem;
            height: 4rem;
            line-height: 1.445;
          }
          .trips-qxG {
            width: 9.3rem;
            white-space: nowrap;
            top: 0;
            font-size: 4.0667rem;
            font-weight: 600;
            line-height: 1.495;
            color: #fa461f;
            height: 6.1rem;
            position: absolute;
            left: 4.8574rem;
            font-family: Kanit, 'Source Sans Pro';
          }
        }
        .frame-4-wEc {
          margin: 0.8rem 0;
          height: calc(100% - 1.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-2-s8G {
            align-items: center;
            flex-shrink: 0;
            margin: 0.6rem 4.1rem 0.5rem 0rem;
            height: calc(100% - 1.1rem);
            display: flex;
            column-gap: 3.8rem;

            .home-Nqi {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
            }
            .search-uak {
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.3rem;
              font-weight: 400;
            }
            .guide-qzC {
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .blog-PVv {
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.3rem;
            }
          }
          .frame-3-Jsn {
            height: 100%;
            font-weight: 400;
            border: solid 0.1rem #fa461f;
            flex-shrink: 0;
            font-size: 2.3rem;
            line-height: 1.445;
            font-family: Jost, 'Source Sans Pro';
            box-sizing: border-box;
            border-radius: 3.5rem;
            width: 15.1rem;
            position: relative;
            color: #fa461f;
            white-space: nowrap;
            display: flex;
            overflow: hidden;
            align-items: center;
            justify-content: center;
          }
        }
      }
      .frame-5-kDz {
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 5.65rem 7.8rem 5.55rem;
        width: calc(100% - 11.2rem);
        align-items: center;
        display: flex;

        .vienna-awaits-unleash-your-wanderlust-in-austrias-vibrant-capital-4kU {
          max-width: 115.9rem;
          text-align: center;
          font-weight: 400;
          line-height: 1.445;
          margin-bottom: 3.1rem;
          font-size: 6.8rem;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
        }
        .indulge-in-viennas-allure-explore-magnificent-architecture-delightful-cafs-and-captivating-history-your-unforgettable-journey-starts-here-k7W {
          font-size: 2.4rem;
          font-weight: 400;
          line-height: 1.445;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          flex-shrink: 0;
          max-width: 72.5rem;
          text-align: center;
        }
      }
      .frame-6-ykx {
        font-family: Jost, 'Source Sans Pro';
        flex-shrink: 0;
        font-weight: 400;
        line-height: 1.445;
        font-size: 2.8rem;
        white-space: nowrap;
        display: flex;
        align-items: center;
        height: 6.8rem;
        text-align: center;
        overflow: hidden;
        position: relative;
        justify-content: center;
        margin: 0rem 49.1rem 10.8rem 52.3rem;
        width: calc(100% - 101.4rem);
        border-radius: 1rem;
        color: #ffffff;
        background-color: #fa461f;
      }
      .frame-11-1xY {
        flex-shrink: 0;
        width: 100%;
        height: 24.5rem;
        display: flex;
        column-gap: 2.2rem;
        align-items: center;

        .frame-8-YSg {
          width: 40.9rem;
          height: 100%;
          overflow: hidden;
          background-color: rgba(212, 212, 212, 0.200000003);
          border-radius: 1rem;
          flex-shrink: 0;
          box-sizing: border-box;
          padding: 2.7rem 3.067rem 2.9rem 4.3rem;
          position: relative;

          .auto-group-t2fe-TZe {
            margin-bottom: 1.8rem;
            width: 100%;
            height: 13.1rem;
            display: flex;
            align-items: flex-start;

            .frame-9-Py6 {
              margin-right: 0.8667rem;
              width: 30rem;
              height: 100%;
              flex-shrink: 0;

              .audio-guide-M9E {
                margin-bottom: 1.4rem;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.445;
                width: 100%;
                text-align: center;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .travel-on-your-own-with-the-help-of-an-audio-guide-rrg {
                font-weight: 400;
                line-height: 1.445;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                max-width: 30rem;
                font-size: 2.6rem;
              }
            }
            .iconamoon-headphone-MYY {
              width: 2.6667rem;
              height: 2.5333rem;
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.8rem;
            }
          }
          .frame-10-sWt {
            margin-right: 18.7333rem;
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 1.445;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            border-bottom: solid 0.2rem #fa461f;
            box-sizing: border-box;
            height: 4rem;
            color: #ffffff;
          }
        }
        .frame-9-4bN {
          width: 40.9rem;
          overflow: hidden;
          position: relative;
          flex-direction: column;
          background-color: rgba(212, 212, 212, 0.200000003);
          box-sizing: border-box;
          height: 100%;
          align-items: center;
          display: flex;
          border-radius: 1rem;
          flex-shrink: 0;
          padding: 2.7rem 2.914rem 2.9rem 4.3rem;

          .auto-group-9g3n-yiL {
            align-items: flex-start;
            flex-shrink: 0;
            margin-bottom: 1.8rem;
            width: 100%;
            height: 13.1rem;
            display: flex;

            .frame-9-7pY {
              flex-shrink: 0;
              margin-right: 3.5143rem;
              width: 27.2rem;
              height: 100%;

              .programs-sHv {
                margin-bottom: 1.4rem;
                text-align: center;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                width: 100%;
                font-size: 2.8rem;
                font-weight: 500;
                line-height: 1.445;
                color: #ffffff;
              }
              .choose-a-travel-program-that-is-right-for-you-CLC {
                max-width: 27.2rem;
                font-size: 2.6rem;
                font-weight: 400;
                line-height: 1.445;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
              }
            }
            .streamline-programming-script-2-language-programming-code-ukQ {
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.5143rem;
              width: 2.9714rem;
              height: 2.9714rem;
              object-fit: contain;
            }
          }
          .frame-10-Rye {
            margin-right: 16.1857rem;
            height: 4rem;
            white-space: nowrap;
            flex-shrink: 0;
            font-family: Jost, 'Source Sans Pro';
            border-bottom: solid 0.2rem #fa461f;
            box-sizing: border-box;
            font-size: 2.6rem;
            font-weight: 500;
            line-height: 1.445;
            color: #ffffff;
          }
        }
        .frame-10-WVJ {
          position: relative;
          flex-shrink: 0;
          padding: 2.7rem 3.067rem 2.9rem 4.3rem;
          width: 40.9rem;
          overflow: hidden;
          background-color: rgba(212, 212, 212, 0.200000003);
          border-radius: 1rem;
          box-sizing: border-box;
          height: 100%;

          .auto-group-h6ow-qXa {
            display: flex;
            align-items: flex-start;
            margin-bottom: 1.8rem;
            width: 100%;
            height: 13.1rem;

            .frame-9-aVA {
              flex-shrink: 0;
              margin-right: 0.8667rem;
              width: 30rem;
              height: 100%;

              .hotels-and-restaurant-vZ2 {
                line-height: 1.445;
                color: #ffffff;
                white-space: nowrap;
                margin-bottom: 1.4rem;
                text-align: center;
                font-weight: 500;
                font-family: Jost, 'Source Sans Pro';
                width: 100%;
                font-size: 2.8rem;
              }
              .book-hotels-and-restaurants-at-th-best-price-F5W {
                font-size: 2.6rem;
                font-weight: 400;
                line-height: 1.445;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
                max-width: 30rem;
              }
            }
            .ri-hotel-line-AiG {
              object-fit: contain;
              vertical-align: top;
              flex-shrink: 0;
              margin-top: 0.8rem;
              width: 2.6667rem;
              height: 2.4rem;
            }
          }
          .frame-10-6rp {
            font-weight: 500;
            border-bottom: solid 0.2rem #fa461f;
            box-sizing: border-box;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            width: 13.1rem;
            height: 4rem;
            font-size: 2.6rem;
            line-height: 1.445;
          }
        }
      }
    }
    .macbook-pro-14-2-Xx8 {
      padding: 12.2rem 11.9rem 25.3rem 12rem;
      left: 0;
      box-sizing: border-box;
      width: 151.2rem;
      height: 179.2rem;
      position: absolute;
      top: 127.7rem;
      overflow: hidden;
      align-items: center;
      display: flex;
      flex-direction: column;
      background-color: #141725;

      .frame-24-RXi {
        margin-bottom: 15.1rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        flex-shrink: 0;

        .frame-23-BFz {
          margin: 0rem 1.5rem 7.6rem 0rem;
          width: calc(100% - 1.5rem);
          height: 19rem;
          display: flex;
          align-items: flex-start;
          flex-shrink: 0;

          .frame-13-684 {
            height: 100%;
            flex-shrink: 0;
            margin-right: 39.9rem;
            width: 44.2rem;

            .frame-12-d7z {
              margin-bottom: 0.4rem;
              width: 100%;
              display: flex;
              align-items: center;

              .popular-mzt {
                white-space: nowrap;
                flex-shrink: 0;
                margin-right: 1.6rem;
                font-size: 6.4rem;
                font-weight: 500;
                line-height: 1.445;
                color: #fa461f;
                font-family: Jost, 'Source Sans Pro';
              }
              .trips-by-urC {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 6.4rem;
                font-weight: 500;
                line-height: 1.445;
                color: #ffffff;
                font-family: Jost, 'Source Sans Pro';
              }
            }
            .elitetrip-T72 {
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              font-size: 6.4rem;
              font-weight: 500;
              line-height: 1.445;
            }
          }
          .frame-22-oAt {
            margin-bottom: 0.1rem;
            box-sizing: border-box;
            padding: 1.85rem 0rem 1.95rem 4rem;
            border-left: solid 0.4rem #fa461f;
            flex-shrink: 0;

            .our-greatest-guides-create-our-programs-each-individual-will-be-able-to-select-a-program-based-on-their-interests-and-budget-8yr {
              max-width: 37.7rem;
              font-size: 2.6rem;
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
            }
          }
        }
        .group-2-oaC {
          align-items: center;
          border-radius: 1rem;
          flex-shrink: 0;
          width: 100%;
          height: 93.2rem;
          display: flex;

          .auto-group-v1z6-Mbi {
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 2rem;
            width: 41.1rem;
            height: 100%;
            align-items: center;
            display: flex;

            .frame-15-t5r {
              height: 32.8rem;
              overflow: hidden;
              position: relative;
              background-position: center;
              border-radius: 1rem;
              background-image: url('REPLACE_IMAGE:01f5ffd9bfe3fcd8e91cd510592683dea08db009');
              flex-shrink: 0;
              margin-bottom: 2.4rem;
              width: 100%;
              background-color: #ffffff;
              background-size: 100% 100%;
              background-repeat: no-repeat;
            }
            .frame-16-zPn {
              background-repeat: no-repeat;
              background-position: center;
              background-image: url('REPLACE_IMAGE:2431da4f415e5be101f5e01b8186c09149643475');
              border-radius: 1rem;
              position: relative;
              background-size: 100% 100%;
              overflow: hidden;
              background-color: #ffffff;
              flex-shrink: 0;
              width: 100%;
              height: 58rem;
            }
          }
          .auto-group-cmsr-ume {
            width: 41.1rem;
            height: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            margin-right: 1.9rem;

            .frame-17-eUL {
              width: 100%;
              height: 58rem;
              overflow: hidden;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:223c54e92b7c534ca9bc2df7f2ba3f1cf501d3f4');
              border-radius: 1rem;
              margin-bottom: 2.4rem;
              position: relative;
              background-color: #ffffff;
              background-size: 100% 100%;
              background-position: center;
              flex-shrink: 0;
            }
            .frame-18-Aha {
              width: 100%;
              background-color: #ffffff;
              background-size: 100% 100%;
              background-image: url('REPLACE_IMAGE:b5c84287b18e6d836a181ea926f34317361fd4e2');
              border-radius: 1rem;
              flex-shrink: 0;
              height: 32.8rem;
              overflow: hidden;
              position: relative;
              background-repeat: no-repeat;
              background-position: center;
            }
          }
          .auto-group-37me-hSc {
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            height: 100%;
            align-items: center;

            .frame-20-Tgg {
              overflow: hidden;
              position: relative;
              border-radius: 1rem;
              background-image: url('REPLACE_IMAGE:c7430c2d21d3e6c6fa28fb51e8bc59fcfb748e84');
              margin: 0rem 0rem 2.4rem 0.1rem;
              width: 41.1rem;
              height: 32.8rem;
              background-color: #ffffff;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-position: center;
              flex-shrink: 0;
            }
            .frame-21-MGG {
              overflow: hidden;
              position: relative;
              background-color: #ffffff;
              background-position: center;
              flex-shrink: 0;
              height: 58rem;
              width: 41.1rem;
              background-size: 100% 100%;
              background-repeat: no-repeat;
              background-image: url('REPLACE_IMAGE:dacfe42ef67c4ac1423dd32197efe6caa932020d');
              border-radius: 1rem;
              margin-right: 0.1rem;
            }
          }
        }
      }
      .frame-6-rTv {
        background-color: #fa461f;
        width: calc(100% - 104.9rem);
        font-weight: 400;
        justify-content: center;
        display: flex;
        align-items: center;
        border-radius: 1rem;
        flex-shrink: 0;
        position: relative;
        text-align: center;
        white-space: nowrap;
        line-height: 1.445;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        margin: 0rem 52.5rem 0rem 52.4rem;
        height: 6.8rem;
        overflow: hidden;
        font-size: 2.8rem;
      }
    }
    .frame-14-KMW {
      width: 151.2rem;
      height: 13.4rem;
      position: absolute;
      left: 0;
      top: 120.5rem;
      overflow: hidden;
      filter: blur(6.25rem);
      background: linear-gradient(180deg, #171929 -0%, #141725 100%);
    }
  }
  .macbook-pro-14-3-Cw6 {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: #141725;
    flex-shrink: 0;
    width: 100%;
    overflow: hidden;

    .auto-group-gymj-x9a {
      margin-bottom: 24.6rem;
      width: 168.5rem;
      height: 104.2rem;
      position: relative;
      flex-shrink: 0;

      .frame-25-tJ8 {
        padding: 6.6rem 11.8rem;
        width: 151.2rem;
        position: absolute;
        left: 0;
        background-color: #191919;
        box-sizing: border-box;
        height: 93.2rem;
        top: 0;
        overflow: hidden;

        .frame-27-czp {
          width: 89.9rem;
          height: 27.3rem;

          .meet-your-certified-experienced-and-professional-travel-guide-who-will-take-you-to-your-ideal-destination-Nj6 {
            font-size: 5.2rem;
            font-weight: 500;
            line-height: 1.3452271682;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            margin-bottom: 2.8rem;
            max-width: 89.9rem;
          }
          .view-additional-details-by-selecting-the-profile-card-Fnt {
            font-size: 2.6rem;
            font-weight: 400;
            line-height: 1.3452271682;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
        }
      }
      .frame-26-mWL {
        display: flex;
        left: 12rem;
        overflow: hidden;
        align-items: center;
        height: 62.4rem;
        position: absolute;
        top: 41.8rem;
        flex-direction: column;
        background-color: #ffffff;
        box-sizing: border-box;
        padding-bottom: 3.8rem;
        width: 36.5rem;
        border-radius: 1rem;

        .auto-group-qosl-spG {
          margin-bottom: 2rem;
          width: 100%;
          height: 30.8rem;
          position: relative;
          flex-shrink: 0;

          .frame-28-pDi {
            width: 40.8rem;
            overflow: hidden;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:71594effc2d79bbc0d704e0c294cea6cbfd00243');
            background-color: #732020;
            background-repeat: no-repeat;
            background-position: center;
            height: 27.2rem;
            position: absolute;
            left: 0;
            top: 0;
          }
          .ellipse-1-jrU {
            left: 4.1rem;
            top: 24.3rem;
            background-color: #ffffff;
            border-radius: 3.25rem;
            width: 6.5rem;
            height: 6.5rem;
            position: absolute;
          }
          .ellipse-2-sBz {
            top: 25.2rem;
            background-position: center;
            background-image: url('REPLACE_IMAGE:607a25762aa89bc04d4b4936512ba1ed6b9e248a');
            width: 4.7rem;
            height: 4.7rem;
            left: 5rem;
            background-repeat: no-repeat;
            border-radius: 2.35rem;
            position: absolute;
            background-color: #d9d9d9;
            background-size: 100% 100%;
          }
        }
        .frame-33-yF2 {
          margin-right: 6.9rem;
          width: 25.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .auto-group-qfzl-WVr {
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 1.9rem;
            width: 100%;
            row-gap: 1.9rem;
            display: flex;
            flex-direction: column;

            .mr-nas-morales-r3v {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
            }
            .frame-29-b1W {
              flex-direction: column;
              flex-shrink: 0;
              display: flex;

              .experience-MWU {
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .years-tWQ {
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
              }
            }
            .frame-30-dD6 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .specialization-PTA {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
              }
              .north-america-XZN {
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
              }
            }
          }
          .group-3-GWx {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            align-items: flex-end;

            .frame-32-Rue {
              flex-shrink: 0;
              margin: 0rem 2.6rem 0.1rem 0rem;
              width: 15.2rem;

              .rating-mCp {
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-31-WRJ {
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.3rem 0.2rem;
                width: 100%;
                display: flex;
                column-gap: 1.2rem;
                align-items: center;

                .ic-baseline-star-pwn {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .ic-baseline-star-yZn {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-vV2 {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-G36 {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-p4c {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                }
              }
            }
            .item-48-5--9sa {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
              font-family: Jost, 'Source Sans Pro';
            }
          }
        }
      }
      .frame-27-U9A {
        overflow: hidden;
        display: flex;
        background-color: #ffffff;
        width: 36.5rem;
        left: 52rem;
        top: 41.8rem;
        position: absolute;
        align-items: center;
        flex-direction: column;
        border-radius: 1rem;
        box-sizing: border-box;
        padding-bottom: 3.8rem;
        height: 62.4rem;

        .auto-group-tapc-nQk {
          margin-bottom: 2rem;
          width: 100%;
          height: 30.8rem;
          position: relative;
          flex-shrink: 0;

          .frame-28-KvU {
            left: 0;
            overflow: hidden;
            background-position: center;
            background-image: url('REPLACE_IMAGE:2935f5e9e800bc1f4e864bc06f73cd7f1b57e561');
            width: 40.8rem;
            position: absolute;
            top: 0;
            background-color: #732020;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            height: 27.2rem;
          }
          .ellipse-1-rfW {
            top: 24.3rem;
            background-color: #ffffff;
            border-radius: 3.25rem;
            width: 6.5rem;
            height: 6.5rem;
            position: absolute;
            left: 4.1rem;
          }
          .ellipse-2-Aw6 {
            border-radius: 2.35rem;
            width: 4.7rem;
            height: 4.7rem;
            position: absolute;
            top: 25.2rem;
            background-color: #d9d9d9;
            background-size: 100% 100%;
            background-position: center;
            left: 5rem;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:912a95d9e82e469c2bea8d095406bbf2ab856c17');
          }
        }
        .frame-33-Eg4 {
          flex-shrink: 0;
          margin-right: 7.1rem;
          width: 25.4rem;
          align-items: center;
          display: flex;
          flex-direction: column;

          .auto-group-dsn8-9Y8 {
            row-gap: 1.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;
            padding-bottom: 1.9rem;
            width: 100%;

            .mrs-juliana-jules-HPS {
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .frame-29-DH6 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .experience-aNY {
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
              }
              .years-X2t {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.3452272415;
                color: #000000;
              }
            }
            .frame-30-Tx8 {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .specialization-zx4 {
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
              }
              .south-america-Xh6 {
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .group-3-GPn {
            flex-shrink: 0;
            width: 100%;
            display: flex;
            align-items: flex-end;

            .frame-32-cyS {
              margin: 0rem 2.6rem 0.1rem 0rem;
              width: 15.2rem;
              flex-shrink: 0;

              .rating-AVA {
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-31-VXS {
                padding: 0.2rem 0.2rem 0.3rem 0.2rem;
                width: 100%;
                display: flex;
                column-gap: 1.2rem;
                align-items: center;
                box-sizing: border-box;

                .ic-baseline-star-oo2 {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                }
                .ic-baseline-star-Ykc {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                }
                .ic-baseline-star-Hy6 {
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                }
                .ic-baseline-star-eHr {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-nur {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .item-48-5--jaC {
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
              white-space: nowrap;
            }
          }
        }
      }
      .frame-28-FYY {
        width: 36.5rem;
        height: 62.4rem;
        position: absolute;
        left: 92rem;
        top: 41.8rem;
        display: flex;
        box-sizing: border-box;
        padding-bottom: 3.8rem;
        background-color: #ffffff;
        border-radius: 1rem;
        flex-direction: column;
        overflow: hidden;
        align-items: center;

        .auto-group-5xh6-51n {
          height: 30.8rem;
          position: relative;
          flex-shrink: 0;
          margin-bottom: 2rem;
          width: 100%;

          .frame-28-1w2 {
            left: 0;
            background-repeat: no-repeat;
            background-position: center;
            overflow: hidden;
            background-color: #732020;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:5a37e73f41e6ed690325e2813cf804ff3d177d38');
            width: 40.8rem;
            height: 27.2rem;
            position: absolute;
            top: 0;
          }
          .ellipse-1-YRA {
            width: 6.5rem;
            height: 6.5rem;
            position: absolute;
            left: 4.1rem;
            top: 24.3rem;
            background-color: #ffffff;
            border-radius: 3.25rem;
          }
          .ellipse-2-GMA {
            height: 4.7rem;
            background-color: #d9d9d9;
            background-repeat: no-repeat;
            background-image: url('REPLACE_IMAGE:317b882ef738a0e0e76643bdfc077bf5333b46e9');
            border-radius: 2.35rem;
            width: 4.7rem;
            position: absolute;
            left: 5rem;
            top: 25.2rem;
            background-size: 100% 100%;
            background-position: center;
          }
        }
        .frame-33-N9J {
          width: 25.6rem;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 6.9rem;

          .auto-group-91sa-7Mn {
            padding-bottom: 1.9rem;
            width: 100%;
            row-gap: 1.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;
            box-sizing: border-box;

            .mr-adebayo-ali-FTz {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
            }
            .frame-29-zRa {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .experience-xNQ {
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
              }
              .years-uHe {
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
            .frame-30-rCt {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .specialization-DJL {
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .africa-xFv {
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
            }
          }
          .group-3-uS4 {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .frame-32-sNt {
              flex-shrink: 0;
              margin: 0rem 2.6rem 0.1rem 0rem;
              width: 15.2rem;

              .rating-DBr {
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
              .frame-31-Mor {
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.3rem 0.2rem;
                width: 100%;
                display: flex;
                column-gap: 1.2rem;
                align-items: center;

                .ic-baseline-star-g5S {
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                }
                .ic-baseline-star-phS {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-yaL {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-8TE {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                }
                .ic-baseline-star-57a {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
              }
            }
            .item-49-5--22p {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
            }
          }
        }
      }
      .frame-29-jT2 {
        box-sizing: border-box;
        width: 36.5rem;
        height: 62.4rem;
        align-items: center;
        border-radius: 1rem;
        padding-bottom: 3.8rem;
        position: absolute;
        left: 132rem;
        top: 41.8rem;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        background-color: #ffffff;

        .auto-group-shdw-r1r {
          margin-bottom: 2rem;
          width: 100%;
          height: 30.8rem;
          position: relative;
          flex-shrink: 0;

          .frame-28-aTe {
            height: 27.2rem;
            position: absolute;
            top: 0;
            background-size: 100% 100%;
            background-repeat: no-repeat;
            background-position: center;
            background-image: url('REPLACE_IMAGE:6d4ae4077c837f9e3f6aa8d521cc4c1d3d9a0923');
            width: 40.8rem;
            overflow: hidden;
            background-color: #732020;
            left: 0;
          }
          .ellipse-1-W6Q {
            width: 6.5rem;
            height: 6.5rem;
            position: absolute;
            left: 4.1rem;
            top: 24.3rem;
            background-color: #ffffff;
            border-radius: 3.25rem;
          }
          .ellipse-2-qPa {
            height: 4.7rem;
            background-color: #d9d9d9;
            background-repeat: no-repeat;
            background-position: center;
            border-radius: 2.35rem;
            width: 4.7rem;
            position: absolute;
            left: 5rem;
            top: 25.2rem;
            background-size: 100% 100%;
            background-image: url('REPLACE_IMAGE:75184a9fd2d411d0cf9480fffd14185a8c419f90');
          }
        }
        .frame-33-whW {
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;
          margin-right: 7.1rem;
          width: 25.4rem;

          .auto-group-easq-HmN {
            box-sizing: border-box;
            padding-bottom: 1.9rem;
            width: 100%;
            row-gap: 1.9rem;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .mr-chun-xiae-2U4 {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.8rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
              font-family: Jost, 'Source Sans Pro';
            }
            .frame-29-Zit {
              flex-shrink: 0;
              display: flex;
              flex-direction: column;

              .experience-vpL {
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
              }
              .years-UL4 {
                white-space: nowrap;
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
              }
            }
            .frame-30-26g {
              display: flex;
              flex-direction: column;
              flex-shrink: 0;

              .specialization-b9n {
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
                flex-shrink: 0;
                margin-bottom: 0.7rem;
              }
              .asia-8fW {
                flex-shrink: 0;
                font-size: 2rem;
                font-weight: 500;
                line-height: 1.3452272415;
                color: #000000;
                font-family: Jost, 'Source Sans Pro';
                white-space: nowrap;
              }
            }
          }
          .group-3-UUU {
            width: 100%;
            display: flex;
            align-items: flex-end;
            flex-shrink: 0;

            .frame-32-qZv {
              margin: 0rem 2.6rem 0.1rem 0rem;
              width: 15.2rem;
              flex-shrink: 0;

              .rating-P5e {
                white-space: nowrap;
                margin-bottom: 0.7rem;
                font-size: 1.5rem;
                font-weight: 500;
                line-height: 1.3452273051;
                color: #8a8a8a;
                font-family: Jost, 'Source Sans Pro';
              }
              .frame-31-Kzt {
                box-sizing: border-box;
                padding: 0.2rem 0.2rem 0.3rem 0.2rem;
                width: 100%;
                display: flex;
                column-gap: 1.2rem;
                align-items: center;

                .ic-baseline-star-FNk {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-QFe {
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                }
                .ic-baseline-star-Z8Y {
                  flex-shrink: 0;
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                }
                .ic-baseline-star-Jrp {
                  width: 2rem;
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                }
                .ic-baseline-star-fhN {
                  height: 1.9rem;
                  object-fit: contain;
                  vertical-align: top;
                  flex-shrink: 0;
                  width: 2rem;
                }
              }
            }
            .item-48-5--ChJ {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2rem;
              font-weight: 500;
              line-height: 1.3452272415;
              color: #000000;
              font-family: Inter, 'Source Sans Pro';
            }
          }
        }
      }
    }
    .frame-34-7ZN {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0rem 60rem 3.7rem 60rem;
      width: calc(100% - 120rem);

      .customer-rG4 {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        margin-right: 1.5rem;
        font-size: 4.8rem;
        font-weight: 500;
        line-height: 1.3452272415;
        color: #fa461f;
      }
      .says-CKv {
        line-height: 1.3452272415;
        color: #ffffff;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        flex-shrink: 0;
        font-size: 4.8rem;
        font-weight: 500;
      }
    }
    .frame-35-jKr {
      width: 100%;
      overflow: hidden;
      position: relative;
      display: flex;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 16.3rem 12.5rem 16.3rem 17.9rem;
      height: 71.8rem;
      align-items: center;
      background-color: #ffffff;

      .frame-36-TWk {
        margin-right: 8.9rem;
        width: 36.8rem;
        height: 39.2rem;
        object-fit: cover;
        vertical-align: top;
        border-radius: 1.5rem;
        flex-shrink: 0;
      }
      .auto-group-asse-BxY {
        flex-shrink: 0;
        margin: 1.7rem 0rem 3.4rem 0rem;
        width: 75.1rem;
        height: calc(100% - 5.1rem);

        .group-4-JnG {
          width: 100%;
          display: flex;
          align-items: center;
          margin-bottom: 9.5rem;

          .item--4Fe {
            flex-shrink: 0;
            margin: 0rem 1.6rem 3.5rem 0rem;
            font-size: 9.6rem;
            font-weight: 500;
            line-height: 1.445;
            color: #000000;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
          }
          .elitetrip-went-above-and-beyond-my-expectations-with-their-excellent-service-and-attention-to-detail-my-trip-was-made-unforgettable-by-their-knowledge-and-specific-recommendations-strongly-recommended-Zy6 {
            font-weight: 500;
            line-height: 1.445;
            color: #000000;
            font-family: Jost, 'Source Sans Pro';
            flex-shrink: 0;
            margin-top: 3.5rem;
            max-width: 68.6rem;
            font-size: 2.4rem;
          }
        }
        .frame-37-DGx {
          display: flex;
          flex-direction: column;

          .alexander-brock-adJ {
            line-height: 1.445;
            color: #000000;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-bottom: 0.8rem;
            font-size: 2.2rem;
            font-weight: 500;
          }
          .influencer-traveler-7t8 {
            font-weight: 500;
            line-height: 1.445;
            color: rgba(0, 0, 0, 0.5);
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            font-size: 2.2rem;
          }
        }
      }
    }
    .auto-group-yfgx-q3S {
      box-sizing: border-box;
      padding: 19.4rem 12rem 3.1rem 12.1rem;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
      flex-shrink: 0;

      .frame-40-xdr {
        display: flex;
        flex-direction: column;
        flex-shrink: 0;
        margin: 0rem 19.3rem 20.1rem 19.1rem;
        width: calc(100% - 38.4rem);
        align-items: center;

        .frame-39-Hw2 {
          margin-bottom: 6.4rem;
          width: 100%;
          align-items: center;
          display: flex;
          flex-direction: column;
          flex-shrink: 0;

          .frame-38-3fJ {
            margin-bottom: 4.9rem;
            width: 100%;
            align-items: center;
            display: flex;
            flex-direction: column;
            flex-shrink: 0;

            .any-questions--QVr {
              margin-bottom: 0.9rem;
              font-size: 6.4rem;
              font-weight: 500;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
            }
            .lets-make-your-dream-happen-9TS {
              font-weight: 500;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 6.4rem;
            }
          }
          .buy-a-cup-of-coffee-have-a-seat-and-chat-with-us-about-your-next-big-journey-UEp {
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            flex-shrink: 0;
            margin-right: 3rem;
            font-size: 2.4rem;
            font-weight: 400;
            line-height: 1.445;
            color: #ffffff;
          }
        }
        .frame-6-nFW {
          white-space: nowrap;
          background-color: #fa461f;
          margin: 0 33.5rem;
          text-align: center;
          font-size: 2.8rem;
          font-weight: 400;
          height: 6.8rem;
          justify-content: center;
          flex-shrink: 0;
          display: flex;
          border-radius: 1rem;
          overflow: hidden;
          position: relative;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          width: calc(100% - 67rem);
          line-height: 1.445;
          align-items: center;
        }
      }
      .frame-1-f4Q {
        width: 100%;
        height: 6.1rem;
        overflow: hidden;
        position: relative;
        display: flex;
        align-items: center;
        flex-shrink: 0;

        .group-1-Qng {
          height: 100%;
          position: relative;
          flex-shrink: 0;
          margin-right: 59.2426rem;
          width: 14.1574rem;

          .elite-MC8 {
            position: absolute;
            left: 0;
            top: 1.3556rem;
            line-height: 1.445;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            height: 4rem;
            font-size: 2.7111rem;
            font-weight: 400;
            white-space: nowrap;
            width: 4.9rem;
          }
          .trips-FoJ {
            position: absolute;
            font-size: 4.0667rem;
            font-family: Kanit, 'Source Sans Pro';
            line-height: 1.495;
            color: #fa461f;
            white-space: nowrap;
            width: 9.3rem;
            height: 6.1rem;
            left: 4.8574rem;
            top: 0;
            font-weight: 600;
          }
        }
        .frame-4-xxc {
          margin: 0.8rem 0;
          height: calc(100% - 1.6rem);
          display: flex;
          align-items: center;
          flex-shrink: 0;

          .frame-2-WUL {
            margin: 0.6rem 4.1rem 0.5rem 0rem;
            height: calc(100% - 1.1rem);
            display: flex;
            column-gap: 3.8rem;
            align-items: center;
            flex-shrink: 0;

            .home-2Bn {
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
            }
            .search-NFe {
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.3rem;
            }
            .guide-7U8 {
              flex-shrink: 0;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
            }
            .blog-Tnt {
              font-family: Jost, 'Source Sans Pro';
              white-space: nowrap;
              flex-shrink: 0;
              font-size: 2.3rem;
              font-weight: 400;
              line-height: 1.445;
              color: #ffffff;
            }
          }
          .frame-3-Qi8 {
            overflow: hidden;
            font-weight: 400;
            line-height: 1.445;
            color: #fa461f;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            align-items: center;
            justify-content: center;
            border: solid 0.1rem #fa461f;
            width: 15.1rem;
            font-size: 2.3rem;
            height: 100%;
            position: relative;
            display: flex;
            box-sizing: border-box;
            border-radius: 3.5rem;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}
