
html {
	font-size:62.5%;
}
* {
	margin: 0;
	padding: 0;
}
ul, li {
	list-style: none;
}
input {
	border: none;
}
body {
  width: 151.2rem;
}.thumbnail-LfN {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3700000048);
  background-size: 100% 100%;
  box-sizing: border-box;
  padding: 3.1rem 12rem 29.7rem 12.1rem;
  width: 100%;
  overflow: hidden;
  background-position: center;
  background-image: url('REPLACE_IMAGE:40a1af679122986aa4135c0c9442733206e03df2');
  position: relative;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;

  .frame-1-q6L {
    flex-shrink: 0;
    margin-bottom: 12.9rem;
    width: 100%;
    height: 6.1rem;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;

    .group-1-kUC {
      margin-right: 59.2426rem;
      width: 14.1574rem;
      height: 100%;
      position: relative;
      flex-shrink: 0;

      .elite-Hyv {
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        position: absolute;
        font-weight: 400;
        line-height: 1.445;
        top: 1.3556rem;
        font-size: 2.7111rem;
        color: #ffffff;
        width: 4.9rem;
        height: 4rem;
        left: 0;
      }
      .trips-ay2 {
        font-weight: 600;
        line-height: 1.495;
        color: #fa461f;
        font-family: Kanit, 'Source Sans Pro';
        white-space: nowrap;
        width: 9.3rem;
        position: absolute;
        left: 4.8574rem;
        height: 6.1rem;
        top: 0;
        font-size: 4.0667rem;
      }
    }
    .frame-4-UoW {
      display: flex;
      align-items: center;
      flex-shrink: 0;
      margin: 0.8rem 0;
      height: calc(100% - 1.6rem);

      .frame-2-RCx {
        flex-shrink: 0;
        margin: 0.6rem 4.1rem 0.5rem 0rem;
        height: calc(100% - 1.1rem);
        display: flex;
        column-gap: 3.8rem;
        align-items: center;

        .home-Lap {
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.3rem;
          font-weight: 400;
          line-height: 1.445;
          color: #ffffff;
        }
        .search-GUU {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.3rem;
          font-weight: 400;
          line-height: 1.445;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
        .guide-Qqa {
          font-weight: 400;
          line-height: 1.445;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.3rem;
        }
        .blog-AJx {
          white-space: nowrap;
          flex-shrink: 0;
          font-size: 2.3rem;
          font-weight: 400;
          line-height: 1.445;
          color: #ffffff;
          font-family: Jost, 'Source Sans Pro';
        }
      }
      .frame-3-uXS {
        font-weight: 400;
        font-family: Jost, 'Source Sans Pro';
        justify-content: center;
        border-radius: 3.5rem;
        flex-shrink: 0;
        font-size: 2.3rem;
        line-height: 1.445;
        color: #fa461f;
        white-space: nowrap;
        border: solid 0.1rem #fa461f;
        width: 15.1rem;
        align-items: center;
        box-sizing: border-box;
        overflow: hidden;
        position: relative;
        display: flex;
        height: 100%;
      }
    }
  }
  .frame-5-AiG {
    flex-shrink: 0;
    margin: 0rem 5.65rem 7.8rem 5.55rem;
    width: calc(100% - 11.2rem);
    align-items: center;
    display: flex;
    flex-direction: column;

    .vienna-awaits-unleash-your-wanderlust-in-austrias-vibrant-capital-668 {
      max-width: 115.9rem;
      font-size: 6.8rem;
      line-height: 1.445;
      color: #ffffff;
      flex-shrink: 0;
      margin-bottom: 3.1rem;
      text-align: center;
      font-weight: 400;
      font-family: Jost, 'Source Sans Pro';
    }
    .indulge-in-viennas-allure-explore-magnificent-architecture-delightful-cafs-and-captivating-history-your-unforgettable-journey-starts-here-ZkQ {
      font-weight: 400;
      line-height: 1.445;
      color: #ffffff;
      font-family: Jost, 'Source Sans Pro';
      flex-shrink: 0;
      max-width: 72.5rem;
      text-align: center;
      font-size: 2.4rem;
    }
  }
  .frame-6-RXi {
    margin: 0rem 49.1rem 10.8rem 52.3rem;
    overflow: hidden;
    font-size: 2.8rem;
    font-weight: 400;
    white-space: nowrap;
    align-items: center;
    height: 6.8rem;
    color: #ffffff;
    display: flex;
    border-radius: 1rem;
    width: calc(100% - 101.4rem);
    position: relative;
    line-height: 1.445;
    flex-shrink: 0;
    text-align: center;
    font-family: Jost, 'Source Sans Pro';
    justify-content: center;
    background-color: #fa461f;
  }
  .frame-11-fS4 {
    flex-shrink: 0;
    width: 100%;
    height: 24.5rem;
    display: flex;
    column-gap: 2.2rem;
    align-items: center;

    .frame-8-QeY {
      width: 40.9rem;
      height: 100%;
      overflow: hidden;
      flex-shrink: 0;
      box-sizing: border-box;
      padding: 2.7rem 3.067rem 2.9rem 4.3rem;
      position: relative;
      background-color: rgba(212, 212, 212, 0.200000003);
      border-radius: 1rem;

      .auto-group-qzcq-uji {
        display: flex;
        align-items: flex-start;
        margin-bottom: 1.8rem;
        width: 100%;
        height: 13.1rem;

        .frame-9-3L8 {
          margin-right: 0.8667rem;
          width: 30rem;
          height: 100%;
          flex-shrink: 0;

          .audio-guide-nHi {
            width: 100%;
            font-weight: 500;
            line-height: 1.445;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            margin-bottom: 1.4rem;
            text-align: center;
            font-size: 2.8rem;
            white-space: nowrap;
          }
          .travel-on-your-own-with-the-help-of-an-audio-guide-uNL {
            line-height: 1.445;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            max-width: 30rem;
            font-size: 2.6rem;
            font-weight: 400;
          }
        }
        .iconamoon-headphone-pVJ {
          margin-top: 0.8rem;
          width: 2.6667rem;
          height: 2.5333rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-10-YgC {
        box-sizing: border-box;
        margin-right: 18.7333rem;
        color: #ffffff;
        font-weight: 500;
        line-height: 1.445;
        font-family: Jost, 'Source Sans Pro';
        white-space: nowrap;
        border-bottom: solid 0.2rem #fa461f;
        height: 4rem;
        font-size: 2.6rem;
      }
    }
    .frame-9-25a {
      height: 100%;
      position: relative;
      display: flex;
      border-radius: 1rem;
      flex-shrink: 0;
      padding: 2.7rem 2.914rem 2.9rem 4.3rem;
      width: 40.9rem;
      align-items: center;
      flex-direction: column;
      background-color: rgba(212, 212, 212, 0.200000003);
      box-sizing: border-box;
      overflow: hidden;

      .auto-group-qc4t-LMA {
        margin-bottom: 1.8rem;
        width: 100%;
        height: 13.1rem;
        display: flex;
        align-items: flex-start;
        flex-shrink: 0;

        .frame-9-4Y4 {
          width: 27.2rem;
          height: 100%;
          flex-shrink: 0;
          margin-right: 3.5143rem;

          .programs-pGL {
            font-size: 2.8rem;
            font-weight: 500;
            line-height: 1.445;
            margin-bottom: 1.4rem;
            text-align: center;
            font-family: Jost, 'Source Sans Pro';
            white-space: nowrap;
            width: 100%;
            color: #ffffff;
          }
          .choose-a-travel-program-that-is-right-for-you-w64 {
            font-weight: 400;
            line-height: 1.445;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            max-width: 27.2rem;
            font-size: 2.6rem;
          }
        }
        .streamline-programming-script-2-language-programming-code-4Ag {
          flex-shrink: 0;
          margin-top: 0.5143rem;
          width: 2.9714rem;
          height: 2.9714rem;
          object-fit: contain;
          vertical-align: top;
        }
      }
      .frame-10-mqn {
        box-sizing: border-box;
        flex-shrink: 0;
        height: 4rem;
        line-height: 1.445;
        color: #ffffff;
        white-space: nowrap;
        border-bottom: solid 0.2rem #fa461f;
        margin-right: 16.1857rem;
        font-size: 2.6rem;
        font-weight: 500;
        font-family: Jost, 'Source Sans Pro';
      }
    }
    .frame-10-eeg {
      position: relative;
      border-radius: 1rem;
      flex-shrink: 0;
      box-sizing: border-box;
      height: 100%;
      overflow: hidden;
      background-color: rgba(212, 212, 212, 0.200000003);
      padding: 2.7rem 3.067rem 2.9rem 4.3rem;
      width: 40.9rem;

      .auto-group-ms3v-yBA {
        margin-bottom: 1.8rem;
        width: 100%;
        height: 13.1rem;
        display: flex;
        align-items: flex-start;

        .frame-9-v6Q {
          height: 100%;
          flex-shrink: 0;
          margin-right: 0.8667rem;
          width: 30rem;

          .hotels-and-restaurant-UNp {
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            margin-bottom: 1.4rem;
            width: 100%;
            font-size: 2.8rem;
            font-weight: 500;
            text-align: center;
            line-height: 1.445;
            white-space: nowrap;
          }
          .book-hotels-and-restaurants-at-th-best-price-agk {
            font-weight: 400;
            line-height: 1.445;
            color: #ffffff;
            font-family: Jost, 'Source Sans Pro';
            max-width: 30rem;
            font-size: 2.6rem;
          }
        }
        .ri-hotel-line-Jse {
          margin-top: 0.8rem;
          width: 2.6667rem;
          height: 2.4rem;
          object-fit: contain;
          vertical-align: top;
          flex-shrink: 0;
        }
      }
      .frame-10-SDA {
        font-size: 2.6rem;
        font-weight: 500;
        line-height: 1.445;
        font-family: Jost, 'Source Sans Pro';
        box-sizing: border-box;
        width: 13.1rem;
        height: 4rem;
        color: #ffffff;
        white-space: nowrap;
        border-bottom: solid 0.2rem #fa461f;
      }
    }
  }
}
